@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  font-size: 2em;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  background-color: black;
  margin-top: 0px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: rgb(27, 27, 27);
}
button {
  border-radius: 2%;
}
.content {
  padding: 0 18px;
  margin: 0 0 10px ;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: medium;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boxes > div {
  margin: 0 10px;
}
.container {
  margin: 0 30px;
}
.boxes {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: stretch;
}
.movies,
.documentaries,
.shows {
  padding: 10px;
  margin: 10px;
  font-size: medium;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head {
  text-align: center;
  margin: 0px;
  color: black;
  height: 25px;
  font-weight: bold;
}
.shows {
  grid-column-start: 1;
  grid-column-end: 3;
}
.twocol {
  display: grid;
  grid-template-columns: auto auto;
}
h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 50px 0 30px;
}
h4 span {
  background: #fff;
  padding: 0 10px;
  font-size: large;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 20px 15px;
}
.con {
  position: relative;
}
.item img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
img {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Overlay effects*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d4d0d0;
  transition: 0.5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.overlay:hover {
  opacity: 0.9;
}
.alname {
  color: black;
  font-size: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.alname > p {
  color: #118dc2;
  font-size: 17px;
}

@media (max-width: 951px) and (min-width: 751px) {
  .alname {
    font-size: 16px;
  }
  .alname > p {
    font-size: 15px;
  }

}
@media (max-width: 750px) and (min-width: 451px) {
  .container {
    margin: 40px 20px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .item {
    flex: 50%;
    max-width: 50%;
    padding: 10px 15px;
  }
  .alname {
    font-size: 16px;
  }
  .alname > p {
    font-size: 13px;
  }
  .boxes {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
  }
  .content {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .container {
    margin: 40px 20px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .item {
    flex: 100%;
    max-width: 100%;
    padding: 10px;
  }
  .alname {
    font-size: 21px;
  }
}
