span{
    margin: 0 10px 0 0;
}
#result{
    margin: 20px 0;
    padding: 10px;
}
div{
    margin: 20px 0;
}
.guessgame, .output, .storygenerator{
    width: 60%;
    margin: 1% auto;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* For Story Generator */
body {
    font-family: helvetica, sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

  .storygenerator label {
    font-weight: bold;  
  }

  .storygenerator div {
    padding-bottom: 20px;
  }

  .storygenerator input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  .storygenerator p {
    background: #FFC125;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
  }