span {
  margin: 0 10px 0 0;
}
#result {
  margin: 20px 0;
  padding: 10px;
}
div {
  margin: 20px 0;
}
.box{
  width: 60%;
  margin: 1% auto;
  padding: 5%;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.box2 {
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
  color: #E6E1DC;
	background-color: #1D1F20;
	
}
.box:hover{
  -webkit-box-shadow: 0 14px 14px rgba(0, 0, 0, 0.380392);
	-moz-box-shadow: 0 14px 14px rgba(0, 0, 0, 0.380392);
	box-shadow: 0 14px 14px rgba(0, 0, 0, 0.380392);
}
.box1{
  color: black;
  background-color: white;
}

/* For Story Generator */
body {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.output ul{
  text-align: left;
  align-items: center;
  width: 40%;
  margin: 10px auto 0 auto;
}
.storygenerator label {
  font-weight: bold;
}

.storygenerator div {
  padding-bottom: 20px;
}

.storygenerator input[type="text"] {
  padding: 5px;
  width: 150px;
}

.storygenerator p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}
